
/* Section Hero */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  object-fit: cover;
}

.hero-overlay {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
}

.hero-overlay h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-overlay p {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;

}

.hero-overlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Style des blocs de contenu avec alternance gauche/droite */
.content-block {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.content-block.left {
  flex-direction: row;
  margin-left: 2em;
}


/* Boîtes contenant les images */
.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 255, 0.3);
  margin-right: 2em;
  margin-left: 2em;
}

.image-box img {
  max-width: 20em;
  max-height: 20em;
  object-fit: cover;
  border-radius: 5px;
}

/* Style des paragraphes */

p {
  flex: 1;
  text-align: justify;
  margin: 10px;
  font-size: 1.1em;
  line-height: 1.6;
}

/* Responsive Design : empilement en colonne pour petits écrans */
@media (max-width: 768px) {
  .content-block {
    flex-direction: column !important;
    text-align: center;
  }

  .image-box {
    width: 100%;
    height: auto;
    margin: 10px auto;
  }

  p {
    text-align: center;
  }
}